name: docker-ros

on: push

jobs:

  ros2-humble:
    runs-on: ubuntu-latest
    steps:
      - uses: ika-rwth-aachen/docker-ros@main
        with:
          platform: amd64
          target: run
          base-image: rwthika/ros2:jazzy
          command: ros2 launch event_detector_db_recording_plugin event_detector_db_recording_plugin.launch.py startup_state:=3
